In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 


sns.set()

In [2]:
Filename = 'energydata_complete.csv'
data = pd.read_csv(Filename)

In [3]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge 
from sklearn.linear_model import Lasso

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [27]:
target = data['T6']
inputss = data['T2']

In [28]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(inputss,target,test_size=0.2,random_state =20)

In [15]:
x_train = np.array(x_train)
x_matrix = x_train.reshape(-1,1)

In [20]:
lasso_Reg = LinearRegression()
lasso_Reg.fit(x_matrix,y_train)

LinearRegression()

In [21]:
lasso_Reg.score(x_matrix,y_train)

0.6417760841667148

In [22]:
data_1 = data.drop(['date','lights'],axis=1)

In [24]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

Normalized_data = scaler.fit_transform(data_1)

In [30]:
targets = data_1['Appliances']
inputs = data_1.drop(['Appliances'],axis=1)

In [76]:
x_train2,x_test2,y_train2,y_test2 = train_test_split(inputs,targets,test_size=0.3,random_state =42)

In [77]:
reg  = LinearRegression()

In [78]:
reg.fit(x_train2,y_train2)

LinearRegression()

In [79]:
y_hat = reg.predict(x_test)

In [80]:
mae = mean_absolute_error(y_test2,y_hat)
mae

53.6429776558496

In [81]:
reg.intercept_

1.2071642285313118

In [82]:
reg.coef_

array([-3.70720673e-01,  1.63001980e+01, -1.83700295e+01, -1.37407481e+01,
        2.58367429e+01,  4.80316182e+00,  2.79366382e+00,  1.20498426e+00,
       -1.60084298e+00,  2.57510931e-01,  7.36354686e+00,  4.11648713e-01,
        1.04063061e+00, -1.69278695e+00,  9.99097025e+00, -5.77886090e+00,
       -2.11484524e+01, -1.76267959e+00, -1.10736285e+01,  1.70187889e-01,
       -1.09352104e+00,  2.23042487e+00,  2.02585717e-01,  5.70139259e+00,
        1.64829984e-02,  1.64829984e-02])

In [86]:
df = pd.DataFrame(inputs.columns.values,columns=['Features'])
df['weights'] = reg.coef_
df.sort_values(by=['weights'])

       Features    weights
16           T9 -21.148452
2            T2 -18.370030
3          RH_2 -13.740748
18        T_out -11.073628
15         RH_8  -5.778861
17         RH_9  -1.762680
13         RH_7  -1.692787
8            T5  -1.600843
20       RH_out  -1.093521
0            T1  -0.370721
25          rv2   0.016483
24          rv1   0.016483
19  Press_mm_hg   0.170188
22   Visibility   0.202586
9          RH_5   0.257511
11         RH_6   0.411649
12           T7   1.040631
7          RH_4   1.204984
21    Windspeed   2.230425
6            T4   2.793664
5          RH_3   4.803162
23    Tdewpoint   5.701393
10           T6   7.363547
14           T8   9.990970
1          RH_1  16.300198
4            T3  25.836743

In [89]:
mse = mean_squared_error(y_test2,y_hat)
np.sqrt(mse)

93.64046093998027

In [94]:
Ridge_reg = Ridge(alpha=0.4)
Ridge_reg.fit(x_train2,y_train2)

Ridge(alpha=0.4)

In [95]:
y_hat2 = Ridge_reg.predict(x_test2)

In [96]:
mse2 = mean_squared_error(y_test2,y_hat2)
np.sqrt(mse2)

93.64050398701556