In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns 

sns.set()

In [2]:
#lets the data from a .csv in the same folder
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding = 'latin-1')

In [3]:
data.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [4]:
data.shape

(60943, 12)

In [5]:
data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

# Correlation between the all the years and the element code

In [6]:
data['Element Code'].corr(data['Y2014'])

0.02445681949522173

In [7]:
data['Element Code'].corr(data['Y2015'])

0.023889199301639918

In [8]:
data['Element Code'].corr(data['Y2016'])

0.023443997584961344

In [9]:
data['Element Code'].corr(data['Y2017'])

0.024254007760045798

In [10]:
#lets input the values into a dataframe & sort the values
year_element_corr = pd.DataFrame(
     data={'Correlation with Element code':[data['Element Code'].corr(data['Y2014']),
           data['Element Code'].corr(data['Y2015']),
           data['Element Code'].corr(data['Y2016']),
           data['Element Code'].corr(data['Y2017'])]}, 
    index = ['Y2014','Y2015','Y2016','Y2017'])
year_element_corr.sort_values('Correlation with Element code')

       Correlation with Element code
Y2016                       0.023444
Y2015                       0.023889
Y2017                       0.024254
Y2014                       0.024457

In [11]:
#Lets check the total protein supply in Madagascar in 2015
grouped_data = data.groupby(['Element','Area'])['Y2015'].sum()
grouped_data

Element                   Area
Domestic supply quantity  Algeria                  85972.86
                          Angola                   55482.91
                          Benin                    27661.67
                          Botswana                  2916.14
                          Burkina Faso             23658.17
                                                     ...
Tourist consumption       Cabo Verde                   5.00
                          Egypt                      286.00
                          Kenya                       17.00
                          Mauritius                   29.00
                          Sao Tome and Principe       12.00
Name: Y2015, Length: 803, dtype: float64

In [12]:
#Lets check for null values in the feature 'Y2014' 
data['Y2014'].isnull().sum()

1589

In [13]:
#lets check for the unique values in the feature 'Area'
len(data['Area'].unique())

49

In [14]:
#Lets check for the total sum of items in the Y2015 & Y2018
data.groupby('Item')[['Y2015','Y2018']].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [15]:
S =[['him','sell'],[90,28,43]]
S[0][1][1]

'e'

In [16]:
#Lets group element with the feature 'Y2014' and count the values
data.groupby('Element')['Y2014'].count()

Element
Domestic supply quantity                  5244
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4965
Feed                                      1216
Food                                      4896
Food supply (kcal/capita/day)             4947
Food supply quantity (kg/capita/yr)       4860
Import Quantity                           4919
Losses                                    2009
Other uses (non-food)                     1662
Processing                                1987
Production                                3830
Protein supply quantity (g/capita/day)    4963
Residuals                                 4604
Seed                                       762
Stock Variation                           4230
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2014, dtype: int64

In [17]:
#Lets group element with the feature 'Y2015' and count the values
data['Y2015'].groupby(data['Element']).count()

Element
Domestic supply quantity                  5245
Export Quantity                           3704
Fat supply quantity (g/capita/day)        4974
Feed                                      1177
Food                                      4901
Food supply (kcal/capita/day)             4955
Food supply quantity (kg/capita/yr)       4865
Import Quantity                           4911
Losses                                    2009
Other uses (non-food)                     1667
Processing                                1995
Production                                3828
Protein supply quantity (g/capita/day)    4971
Residuals                                 4605
Seed                                       759
Stock Variation                           4229
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2015, dtype: int64

In [18]:
#Lets group element with the feature 'Y2016' and count the values
data['Y2016'].groupby(data['Element']).count()

Element
Domestic supply quantity                  5250
Export Quantity                           3653
Fat supply quantity (g/capita/day)        4980
Feed                                      1215
Food                                      4910
Food supply (kcal/capita/day)             4963
Food supply quantity (kg/capita/yr)       4874
Import Quantity                           4908
Losses                                    2009
Other uses (non-food)                     1634
Processing                                1996
Production                                3838
Protein supply quantity (g/capita/day)    4978
Residuals                                 4610
Seed                                       759
Stock Variation                           4231
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2016, dtype: int64

In [19]:
#Lets group element with the feature 'Y2017' and count the values
data['Y2017'].groupby(data['Element']).count()

Element
Domestic supply quantity                  5258
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4982
Feed                                      1213
Food                                      4912
Food supply (kcal/capita/day)             4965
Food supply quantity (kg/capita/yr)       4876
Import Quantity                           4929
Losses                                    2009
Other uses (non-food)                     1619
Processing                                1998
Production                                3829
Protein supply quantity (g/capita/day)    4980
Residuals                                 4618
Seed                                       758
Stock Variation                           4231
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2017, dtype: int64

In [20]:
#sum of of the mean of the feature 'Y2017' across all dataset
data.groupby('Y2017').mean().sum()

Area Code       6.142777e+05
Item Code       1.250272e+07
Element Code    1.424974e+07
Y2014           6.040039e+06
Y2015           6.095798e+06
Y2016           6.179276e+06
Y2018           6.517689e+06
dtype: float64

In [21]:
#sum of of the std of the feature 'Y2017' across all dataset
data.groupby('Y2017').std().sum()

Area Code       1.130694e+05
Item Code       2.792155e+05
Element Code    1.814392e+06
Y2014           9.777057e+04
Y2015           9.406613e+04
Y2016           7.612997e+04
Y2018           8.223750e+04
dtype: float64